* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.body {
  padding: 2rem;
}

.logo-container > img {
  width: auto;
  height: 10rem;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 3rem;
}

.nav-items > ul > li {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
  transition: all ease 250ms;
}

.nav-items > ul > li:hover {
  color: rgba(0, 0, 0, 0.5);
}

.search {
  margin: 2rem 0;
}

.res-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.res-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 27rem;
  height: auto;
  transition: all ease 250ms;
}

.res-card:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.res-image {
  width: 100%;
  height: 18rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.res-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  object-position: center;
}

.res-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0 1.2rem;
}

.res-title {
  font-size: 1.8rem;
}

.res-rating {
  font-size: 1.6rem;
}

.res-cuisine,
.res-address {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(2, 6, 12, 0.6);
}

.filter-container {
  margin-bottom: 2rem;
}

.filter-btn {
  background-color: #ffffff;
  border: 1px solid rgba(2, 6, 12, 0.6);
  padding: 0.8rem 1.2rem;
  border-radius: 1.8rem;
  cursor: pointer;
  font-weight: 500;
}

.shimmer-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 27rem;
  height: auto;
}

.shimmer-image {
  background-color: #f0f0f0;
  width: 100%;
  height: 18rem;
  border-radius: 2rem;
}

.shimmer-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0 1.2rem;
}

.shimmer-info > .info {
  background-color: #f0f0f0;
  height: 2rem;
  width: 20rem;
}

.shimmer-info > .info:nth-of-type(2n + 1) {
  width: 24rem;
}
